openapi: 3.0.0
info:
  title: Sentry API
  version: 0.1.0
servers:
  - url: https://sentry.io/api

paths:
  /0/organizations/{organization_id_or_slug}/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
    get:
      summary: Retrieve an Organization
      operationId: getOrganization
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/teams/{organization_id_or_slug}/{team_id_or_slug}/projects/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
      - $ref: "#/components/parameters/team_id_or_slug"
    post:
      summary: Create a Project
      operationId: createOrganizationTeamProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                slug:
                  type: string
                platform:
                  type: string
                default_rules:
                  type: boolean
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/projects/{organization_id_or_slug}/{project_id_or_slug}/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
      - $ref: "#/components/parameters/project_id_or_slug"
    get:
      summary: Retrieve a Project
      operationId: getOrganizationProject
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    put:
      summary: Update a Project
      operationId: updateOrganizationProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                slug:
                  type: string
                platform:
                  type: string
                digestsMinDelay:
                  type: integer
                  format: int64
                digestsMaxDelay:
                  type: integer
                  format: int64
                resolveAge:
                  type: integer
                  format: int64
                fingerprintingRules:
                  type: string
                groupingEnhancements:
                  type: string
                options:
                  type: object
                allowedDomains:
                  type: array
                  items:
                    type: string
                scrapeJavaScript:
                  type: boolean
                securityToken:
                  type: string
                securityTokenHeader:
                  type: string
                verifySSL:
                  type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    delete:
      summary: Delete a Project
      operationId: deleteOrganizationProject
      responses:
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/projects/{organization_id_or_slug}/{project_id_or_slug}/teams/{team_id_or_slug}/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
      - $ref: "#/components/parameters/project_id_or_slug"
      - $ref: "#/components/parameters/team_id_or_slug"
    post:
      summary: Add a Team to a Project
      operationId: addTeamToProject
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    delete:
      summary: Remove a Team from a Project
      operationId: removeTeamFromProject
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/projects/{organization_id_or_slug}/{project_id_or_slug}/keys/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
      - $ref: "#/components/parameters/project_id_or_slug"
    get:
      summary: List Client Keys
      operationId: listProjectClientKeys
      parameters:
        - $ref: "#/components/parameters/cursor"
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - active
              - inactive
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProjectKey"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: Create a Client Key
      operationId: createProjectClientKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                rateLimit:
                  type: object
                  required:
                    - window
                    - count
                  properties:
                    window:
                      type: integer
                      format: int64
                    count:
                      type: integer
                      format: int64
                browserSdkVersion:
                  type: string
                dynamicSdkLoaderOptions:
                  type: object
                  properties:
                    hasReplay:
                      type: boolean
                    hasPerformance:
                      type: boolean
                    hasDebug:
                      type: boolean
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectKey"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/projects/{organization_id_or_slug}/{project_id_or_slug}/keys/{key_id}/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
      - $ref: "#/components/parameters/project_id_or_slug"
      - name: key_id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Retrieve a Client Key
      operationId: getProjectClientKey
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectKey"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    put:
      summary: Update a Client Key
      operationId: updateProjectClientKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                rateLimit:
                  type: object
                  required:
                    - window
                    - count
                  properties:
                    window:
                      type: integer
                      format: int64
                    count:
                      type: integer
                      format: int64
                browserSdkVersion:
                  type: string
                dynamicSdkLoaderOptions:
                  type: object
                  properties:
                    hasReplay:
                      type: boolean
                    hasPerformance:
                      type: boolean
                    hasDebug:
                      type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectKey"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    delete:
      summary: Delete a Client Key
      operationId: deleteProjectClientKey
      responses:
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/projects/{organization_id_or_slug}/{project_id_or_slug}/rules/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
      - $ref: "#/components/parameters/project_id_or_slug"
    post:
      summary: Create a Rule
      operationId: createProjectRule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - actionMatch
                - filterMatch
                - frequency
                - projects
                - conditions
                - filters
                - actions
              properties:
                name:
                  type: string
                actionMatch:
                  type: string
                filterMatch:
                  type: string
                frequency:
                  type: integer
                  format: int64
                owner:
                  type: string
                environment:
                  type: string
                projects:
                  type: array
                  items:
                    type: string
                conditions:
                  type: array
                  items:
                    $ref: "#/components/schemas/ProjectRuleCondition"
                filters:
                  type: array
                  items:
                    type: object
                actions:
                  type: array
                  items:
                    type: object
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectRule"
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                required:
                  - uuid
                properties:
                  uuid:
                    type: string
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/projects/{organization_id_or_slug}/{project_id_or_slug}/rules/{rule_id}/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
      - $ref: "#/components/parameters/project_id_or_slug"
      - name: rule_id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Retrieve a Rule
      operationId: getProjectRule
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectRule"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    put:
      summary: Update a Rule
      operationId: updateProjectRule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - actionMatch
                - filterMatch
                - frequency
                - projects
                - conditions
                - filters
                - actions
              properties:
                name:
                  type: string
                actionMatch:
                  type: string
                filterMatch:
                  type: string
                frequency:
                  type: integer
                  format: int64
                owner:
                  type: string
                environment:
                  type: string
                projects:
                  type: array
                  items:
                    type: string
                conditions:
                  type: array
                  items:
                    $ref: "#/components/schemas/ProjectRuleCondition"
                filters:
                  type: array
                  items:
                    type: object
                actions:
                  type: array
                  items:
                    type: object
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectRule"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    delete:
      summary: Delete a Rule
      operationId: deleteProjectRule
      responses:
        "202":
          description: Accepted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  parameters:
    organization_id_or_slug:
      name: organization_id_or_slug
      in: path
      required: true
      schema:
        type: string
    project_id_or_slug:
      name: project_id_or_slug
      in: path
      required: true
      schema:
        type: string
    team_id_or_slug:
      name: team_id_or_slug
      in: path
      required: true
      schema:
        type: string
    cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
  schemas:
    Organization:
      type: object
      required:
        - id
        - name
        - slug
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
    Project:
      type: object
      required:
        - organization
        - id
        - name
        - slug
        - platform
        - dateCreated
        - teams
        - features
        - options
        - color
        - isPublic
        - digestsMinDelay
        - digestsMaxDelay
        - resolveAge
        - fingerprintingRules
        - groupingEnhancements
        - allowedDomains
        - scrapeJavaScript
        - securityToken
        - securityTokenHeader
        - verifySSL
      properties:
        organization:
          $ref: "#/components/schemas/Organization"
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        platform:
          type: string
          nullable: true
        dateCreated:
          type: string
          format: date-time
        teams:
          type: array
          items:
            $ref: "#/components/schemas/Team"
        features:
          type: array
          items:
            type: string
        options:
          type: object
        color:
          type: string
        isPublic:
          type: boolean
        digestsMinDelay:
          type: integer
          format: int64
        digestsMaxDelay:
          type: integer
          format: int64
        resolveAge:
          type: integer
          format: int64
        fingerprintingRules:
          type: string
        groupingEnhancements:
          type: string
        allowedDomains:
          type: array
          items:
            type: string
        scrapeJavaScript:
          type: boolean
        securityToken:
          type: string
        securityTokenHeader:
          type: string
          nullable: true
        verifySSL:
          type: boolean
    ProjectKey:
      type: object
      required:
        - id
        - name
        - label
        - public
        - secret
        - projectId
        - isActive
        - rateLimit
        - dsn
        - browserSdkVersion
        - dateCreated
        - dynamicSdkLoaderOptions
      properties:
        id:
          type: string
        name:
          type: string
        label:
          type: string
        public:
          type: string
        secret:
          type: string
        projectId:
          type: integer
          x-go-type: json.Number
        isActive:
          type: boolean
        rateLimit:
          type: object
          nullable: true
          required:
            - window
            - count
          properties:
            window:
              type: integer
              format: int64
            count:
              type: integer
              format: int64
        dsn:
          type: object
          additionalProperties:
            type: string
        browserSdkVersion:
          type: string
        dateCreated:
          type: string
          format: date-time
        dynamicSdkLoaderOptions:
          type: object
          required:
            - hasReplay
            - hasPerformance
            - hasDebug
          properties:
            hasReplay:
              type: boolean
            hasPerformance:
              type: boolean
            hasDebug:
              type: boolean
    ProjectRule:
      type: object
      required:
        - id
        - name
        - projects
        - actionMatch
        - filterMatch
        - frequency
        - environment
        - owner
        - conditions
        - filters
        - actions
      properties:
        id:
          type: string
        name:
          type: string
        projects:
          type: array
          items:
            type: string
        actionMatch:
          type: string
        filterMatch:
          type: string
        frequency:
          type: integer
          format: int64
        environment:
          type: string
          nullable: true
        owner:
          type: string
          nullable: true
        conditions:
          type: array
          items:
            $ref: "#/components/schemas/ProjectRuleCondition"
        filters:
          type: array
          items:
            type: object
        actions:
          type: array
          items:
            type: object
    ProjectRuleCondition:
      oneOf:
        - $ref: "#/components/schemas/ProjectRuleConditionFirstSeenEvent"
        - $ref: "#/components/schemas/ProjectRuleConditionRegressionEvent"
        - $ref: "#/components/schemas/ProjectRuleConditionReappearedEvent"
        - $ref: "#/components/schemas/ProjectRuleConditionNewHighPriorityIssue"
        - $ref: "#/components/schemas/ProjectRuleConditionExistingHighPriorityIssue"
        - $ref: "#/components/schemas/ProjectRuleConditionEventFrequency"
        - $ref: "#/components/schemas/ProjectRuleConditionEventUniqueUserFrequency"
        - $ref: "#/components/schemas/ProjectRuleConditionEventFrequencyPercent"
      discriminator:
        propertyName: id
        mapping:
          "sentry.rules.conditions.first_seen_event.FirstSeenEventCondition": "#/components/schemas/ProjectRuleConditionFirstSeenEvent"
          "sentry.rules.conditions.regression_event.RegressionEventCondition": "#/components/schemas/ProjectRuleConditionRegressionEvent"
          "sentry.rules.conditions.reappeared_event.ReappearedEventCondition": "#/components/schemas/ProjectRuleConditionReappearedEvent"
          "sentry.rules.conditions.high_priority_issue.NewHighPriorityIssueCondition": "#/components/schemas/ProjectRuleConditionNewHighPriorityIssue"
          "sentry.rules.conditions.high_priority_issue.ExistingHighPriorityIssueCondition": "#/components/schemas/ProjectRuleConditionExistingHighPriorityIssue"
          "sentry.rules.conditions.event_frequency.EventFrequencyCondition": "#/components/schemas/ProjectRuleConditionEventFrequency"
          "sentry.rules.conditions.event_frequency.EventUniqueUserFrequencyCondition": "#/components/schemas/ProjectRuleConditionEventUniqueUserFrequency"
          "sentry.rules.conditions.event_frequency.EventFrequencyPercentCondition": "#/components/schemas/ProjectRuleConditionEventFrequencyPercent"
    ProjectRuleConditionFirstSeenEvent:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.conditions.first_seen_event.FirstSeenEventCondition"
        name:
          type: string
    ProjectRuleConditionRegressionEvent:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.conditions.regression_event.RegressionEventCondition"
        name:
          type: string
    ProjectRuleConditionReappearedEvent:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.conditions.reappeared_event.ReappearedEventCondition"
        name:
          type: string
    ProjectRuleConditionNewHighPriorityIssue:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.conditions.high_priority_issue.NewHighPriorityIssueCondition"
        name:
          type: string
    ProjectRuleConditionExistingHighPriorityIssue:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.conditions.high_priority_issue.ExistingHighPriorityIssueCondition"
        name:
          type: string
    ProjectRuleConditionEventFrequency:
      type: object
      required:
        - id
        - comparisonType
        - value
        - interval
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.conditions.event_frequency.EventFrequencyCondition"
        name:
          type: string
        comparisonType:
          type: string
        comparisonInterval:
          type: string
        value:
          type: integer
          format: int64
        interval:
          type: string
    ProjectRuleConditionEventUniqueUserFrequency:
      type: object
      required:
        - id
        - comparisonType
        - value
        - interval
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.conditions.event_frequency.EventUniqueUserFrequencyCondition"
        name:
          type: string
        comparisonType:
          type: string
        comparisonInterval:
          type: string
        value:
          type: integer
          format: int64
        interval:
          type: string
    ProjectRuleConditionEventFrequencyPercent:
      type: object
      required:
        - id
        - comparisonType
        - value
        - interval
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.conditions.event_frequency.EventFrequencyPercentCondition"
        name:
          type: string
        comparisonType:
          type: string
        comparisonInterval:
          type: string
        value:
          type: number
          format: double
        interval:
          type: string
    Team:
      type: object
      required:
        - id
        - slug
        - name
      properties:
        id:
          type: string
        slug:
          type: string
        name:
          type: string
