openapi: 3.0.0
info:
  title: Sentry API
  version: 0.1.0
servers:
  - url: https://sentry.io/api

paths:
  /0/organizations/{organization_id_or_slug}/:
    get:
      summary: Retrieve an Organization
      operationId: getOrganization
      parameters:
        - $ref: "#/components/parameters/organization_id_or_slug"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/projects/{organization_id_or_slug}/{project_id_or_slug}/:
    get:
      summary: Retrieve a Project
      operationId: getOrganizationProject
      parameters:
        - $ref: "#/components/parameters/organization_id_or_slug"
        - $ref: "#/components/parameters/project_id_or_slug"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/projects/{organization_id_or_slug}/{project_id_or_slug}/keys/:
    get:
      summary: List Client Keys
      operationId: listProjectClientKeys
      parameters:
        - $ref: "#/components/parameters/organization_id_or_slug"
        - $ref: "#/components/parameters/project_id_or_slug"
        - $ref: "#/components/parameters/cursor"
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - active
              - inactive
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProjectKey"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: Create a Client Key
      operationId: createProjectClientKey
      parameters:
        - $ref: "#/components/parameters/organization_id_or_slug"
        - $ref: "#/components/parameters/project_id_or_slug"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                rateLimit:
                  type: object
                  required:
                    - window
                    - count
                  properties:
                    window:
                      type: integer
                      format: int64
                    count:
                      type: integer
                      format: int64
                browserSdkVersion:
                  type: string
                dynamicSdkLoaderOptions:
                  type: object
                  properties:
                    hasReplay:
                      type: boolean
                    hasPerformance:
                      type: boolean
                    hasDebug:
                      type: boolean
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectKey"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/projects/{organization_id_or_slug}/{project_id_or_slug}/keys/{key_id}/:
    get:
      summary: Retrieve a Client Key
      operationId: getProjectClientKey
      parameters:
        - $ref: "#/components/parameters/organization_id_or_slug"
        - $ref: "#/components/parameters/project_id_or_slug"
        - name: key_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectKey"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    put:
      summary: Update a Client Key
      operationId: updateProjectClientKey
      parameters:
        - $ref: "#/components/parameters/organization_id_or_slug"
        - $ref: "#/components/parameters/project_id_or_slug"
        - name: key_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                rateLimit:
                  type: object
                  required:
                    - window
                    - count
                  properties:
                    window:
                      type: integer
                      format: int64
                    count:
                      type: integer
                      format: int64
                browserSdkVersion:
                  type: string
                dynamicSdkLoaderOptions:
                  type: object
                  properties:
                    hasReplay:
                      type: boolean
                    hasPerformance:
                      type: boolean
                    hasDebug:
                      type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectKey"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  parameters:
    organization_id_or_slug:
      name: organization_id_or_slug
      in: path
      required: true
      schema:
        type: string
    project_id_or_slug:
      name: project_id_or_slug
      in: path
      required: true
      schema:
        type: string
    cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
  schemas:
    Organization:
      type: object
      required:
        - id
        - name
        - slug
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
    Project:
      type: object
      required:
        - organization
        - id
        - name
        - slug
        - platform
        - dateCreated
        - teams
        - features
        - options
        - color
        - isPublic
        - digestsMinDelay
        - digestsMaxDelay
        - resolveAge
      properties:
        organization:
          $ref: "#/components/schemas/Organization"
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        platform:
          type: string
          nullable: true
        dateCreated:
          type: string
          format: date-time
        teams:
          type: array
          items:
            $ref: "#/components/schemas/Team"
        features:
          type: array
          items:
            type: string
        options:
          type: object
        color:
          type: string
        isPublic:
          type: boolean
        digestsMinDelay:
          type: integer
          format: int64
        digestsMaxDelay:
          type: integer
          format: int64
        resolveAge:
          type: integer
          format: int64
    ProjectKey:
      type: object
      required:
        - id
        - name
        - label
        - public
        - secret
        - projectId
        - isActive
        - rateLimit
        - dsn
        - browserSdkVersion
        - dateCreated
        - dynamicSdkLoaderOptions
      properties:
        id:
          type: string
        name:
          type: string
        label:
          type: string
        public:
          type: string
        secret:
          type: string
        projectId:
          type: integer
          x-go-type: json.Number
        isActive:
          type: boolean
        rateLimit:
          type: object
          nullable: true
          required:
            - window
            - count
          properties:
            window:
              type: integer
              format: int64
            count:
              type: integer
              format: int64
        dsn:
          type: object
          additionalProperties:
            type: string
        browserSdkVersion:
          type: string
        dateCreated:
          type: string
          format: date-time
        dynamicSdkLoaderOptions:
          type: object
          required:
            - hasReplay
            - hasPerformance
            - hasDebug
          properties:
            hasReplay:
              type: boolean
            hasPerformance:
              type: boolean
            hasDebug:
              type: boolean
    Team:
      type: object
      required:
        - id
        - slug
        - name
      properties:
        id:
          type: string
        slug:
          type: string
        name:
          type: string
