openapi: 3.0.0
info:
  title: Sentry API
  version: 0.1.0
servers:
  - url: https://sentry.io/api

paths:
  /0/internal/health/:
    get:
      summary: Health Check
      operationId: healthCheck
      responses:
        "200":
          description: OK
        "401":
          description: Unauthorized
  /0/organizations/{organization_id_or_slug}/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
    get:
      summary: Retrieve an Organization
      operationId: getOrganization
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/organizations/{organization_id_or_slug}/integrations/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
    get:
      summary: List Organization Integrations
      operationId: listOrganizationIntegrations
      parameters:
        - $ref: "#/components/parameters/cursor"
        - name: provider_key
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OrganizationIntegration"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
  /0/organizations/{organization_id_or_slug}/integrations/{integration_id}/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
      - $ref: "#/components/parameters/integration_id"
    get:
      summary: Retrieve an Organization Integration
      operationId: getOrganizationIntegration
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationIntegration"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: Update an Organization Integration
      operationId: updateOrganizationIntegration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/OrganizationIntegration_Opsgenie_ConfigData"
                - $ref: "#/components/schemas/OrganizationIntegration_PagerDuty_ConfigData"
      responses:
        "200":
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
  /0/organizations/{organization_id_or_slug}/members/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
    get:
      summary: List Organization Members
      operationId: listOrganizationMembers
      parameters:
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OrganizationMember"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: Create an Organization Member
      operationId: createOrganizationMember
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - orgRole
              properties:
                email:
                  type: string
                orgRole:
                  type: string
                teams:
                  type: array
                  items:
                    type: string
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationMember"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
  /0/organizations/{organization_id_or_slug}/members/{member_id}/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
      - $ref: "#/components/parameters/member_id"
    get:
      summary: Retrieve an Organization Member
      operationId: getOrganizationMember
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationMemberWithRoles"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    put:
      summary: Update an Organization Member
      operationId: updateOrganizationMember
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                orgRole:
                  type: string
                teamRoles:
                  type: array
                  items:
                    $ref: "#/components/schemas/TeamRole"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationMemberWithRoles"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    delete:
      summary: Delete an Organization Member
      operationId: deleteOrganizationMember
      responses:
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/organizations/{organization_id_or_slug}/projects/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
      - $ref: "#/components/parameters/cursor"
      - name: options
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
    get:
      summary: List Organization Projects
      operationId: listOrganizationProjects
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Project"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/organizations/{organization_id_or_slug}/sentry-app-installations/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
    get:
      summary: List Sentry App Installations
      operationId: listSentryAppInstallations
      parameters:
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SentryAppInstallation"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/organizations/{organization_id_or_slug}/spike-protections/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
    post:
      summary: Enable Spike Protection
      operationId: enableSpikeProtection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - projects
              properties:
                projects:
                  type: array
                  items:
                    type: string
      responses:
        "201":
          description: Created
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
    delete:
      summary: Disable Spike Protection
      operationId: disableSpikeProtection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - projects
              properties:
                projects:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/organizations/{organization_id_or_slug}/workflows/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
    post:
      summary: Create an Alert for an Organization
      operationId: createOrganizationWorkflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrganizationWorkflowRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationWorkflow"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/organizations/{organization_id_or_slug}/workflows/{workflow_id}/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
      - name: workflow_id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Retrieve an Alert for an Organization
      operationId: getOrganizationWorkflow
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationWorkflow"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    put:
      summary: Update an Alert for an Organization
      operationId: updateOrganizationWorkflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrganizationWorkflowRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationWorkflow"
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
    delete:
      summary: Delete an Alert for an Organization
      operationId: deleteOrganizationWorkflow
      responses:
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/organizations/{organization_id_or_slug}/projects/{project_id_or_slug}/detectors/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
      - $ref: "#/components/parameters/project_id_or_slug"
    post:
      summary: Create a Monitor for a Project
      operationId: createProjectMonitor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectMonitorRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectMonitor"
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/organizations/{organization_id_or_slug}/detectors/{detector_id}/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
      - $ref: "#/components/parameters/detector_id"
    get:
      summary: Retrieve a Monitor
      operationId: getProjectMonitor
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectMonitor"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    put:
      summary: Update a Monitor
      operationId: updateProjectMonitor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectMonitorRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectMonitor"
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
    delete:
      summary: Delete a Monitor
      operationId: deleteProjectMonitor
      responses:
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/teams/{organization_id_or_slug}/{team_id_or_slug}/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
      - $ref: "#/components/parameters/team_id_or_slug"
    get:
      summary: Retrieve a Team
      operationId: getOrganizationTeam
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Team"
                  - type: object
                    required:
                      - hasAccess
                      - isPending
                      - isMember
                    properties:
                      hasAccess:
                        type: boolean
                      isPending:
                        type: boolean
                      isMember:
                        type: boolean

        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/teams/{organization_id_or_slug}/{team_id_or_slug}/projects/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
      - $ref: "#/components/parameters/team_id_or_slug"
    post:
      summary: Create a Project
      operationId: createOrganizationTeamProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                slug:
                  type: string
                platform:
                  type: string
                default_rules:
                  type: boolean
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/projects/{organization_id_or_slug}/{project_id_or_slug}/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
      - $ref: "#/components/parameters/project_id_or_slug"
    get:
      summary: Retrieve a Project
      operationId: getOrganizationProject
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    put:
      summary: Update a Project
      operationId: updateOrganizationProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                slug:
                  type: string
                platform:
                  type: string
                digestsMinDelay:
                  type: integer
                  format: int64
                digestsMaxDelay:
                  type: integer
                  format: int64
                resolveAge:
                  type: integer
                  format: int64
                fingerprintingRules:
                  type: string
                groupingEnhancements:
                  type: string
                options:
                  type: object
                allowedDomains:
                  type: array
                  items:
                    type: string
                scrapeJavaScript:
                  type: boolean
                securityToken:
                  type: string
                securityTokenHeader:
                  type: string
                subjectTemplate:
                  type: string
                verifySSL:
                  type: boolean
                highlightTags:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    delete:
      summary: Delete a Project
      operationId: deleteOrganizationProject
      responses:
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/projects/{organization_id_or_slug}/{project_id_or_slug}/teams/{team_id_or_slug}/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
      - $ref: "#/components/parameters/project_id_or_slug"
      - $ref: "#/components/parameters/team_id_or_slug"
    post:
      summary: Add a Team to a Project
      operationId: addTeamToProject
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    delete:
      summary: Remove a Team from a Project
      operationId: removeTeamFromProject
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/projects/{organization_id_or_slug}/{project_id_or_slug}/keys/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
      - $ref: "#/components/parameters/project_id_or_slug"
    get:
      summary: List Client Keys
      operationId: listProjectClientKeys
      parameters:
        - $ref: "#/components/parameters/cursor"
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - active
              - inactive
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProjectKey"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: Create a Client Key
      operationId: createProjectClientKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                rateLimit:
                  type: object
                  required:
                    - window
                    - count
                  properties:
                    window:
                      type: integer
                      format: int64
                    count:
                      type: integer
                      format: int64
                browserSdkVersion:
                  type: string
                dynamicSdkLoaderOptions:
                  type: object
                  properties:
                    hasReplay:
                      type: boolean
                    hasPerformance:
                      type: boolean
                    hasDebug:
                      type: boolean
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectKey"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/projects/{organization_id_or_slug}/{project_id_or_slug}/keys/{key_id}/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
      - $ref: "#/components/parameters/project_id_or_slug"
      - name: key_id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Retrieve a Client Key
      operationId: getProjectClientKey
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectKey"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    put:
      summary: Update a Client Key
      operationId: updateProjectClientKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                rateLimit:
                  type: object
                  required:
                    - window
                    - count
                  properties:
                    window:
                      type: integer
                      format: int64
                    count:
                      type: integer
                      format: int64
                browserSdkVersion:
                  type: string
                dynamicSdkLoaderOptions:
                  type: object
                  properties:
                    hasReplay:
                      type: boolean
                    hasPerformance:
                      type: boolean
                    hasDebug:
                      type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectKey"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    delete:
      summary: Delete a Client Key
      operationId: deleteProjectClientKey
      responses:
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/projects/{organization_id_or_slug}/{project_id_or_slug}/rules/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
      - $ref: "#/components/parameters/project_id_or_slug"
    post:
      summary: Create a Rule
      operationId: createProjectRule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - actionMatch
                - filterMatch
                - frequency
                - projects
                - conditions
                - filters
                - actions
              properties:
                name:
                  type: string
                actionMatch:
                  type: string
                filterMatch:
                  type: string
                frequency:
                  type: integer
                  format: int64
                owner:
                  type: string
                environment:
                  type: string
                projects:
                  type: array
                  items:
                    type: string
                conditions:
                  type: array
                  items:
                    $ref: "#/components/schemas/ProjectRuleCondition"
                filters:
                  type: array
                  items:
                    $ref: "#/components/schemas/ProjectRuleFilter"
                actions:
                  type: array
                  items:
                    $ref: "#/components/schemas/ProjectRuleAction"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectRule"
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                required:
                  - uuid
                properties:
                  uuid:
                    type: string
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/projects/{organization_id_or_slug}/{project_id_or_slug}/rules/{rule_id}/:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
      - $ref: "#/components/parameters/project_id_or_slug"
      - name: rule_id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Retrieve a Rule
      operationId: getProjectRule
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectRule"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    put:
      summary: Update a Rule
      operationId: updateProjectRule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - actionMatch
                - filterMatch
                - frequency
                - projects
                - conditions
                - filters
                - actions
              properties:
                name:
                  type: string
                actionMatch:
                  type: string
                filterMatch:
                  type: string
                frequency:
                  type: integer
                  format: int64
                owner:
                  type: string
                environment:
                  type: string
                projects:
                  type: array
                  items:
                    type: string
                conditions:
                  type: array
                  items:
                    $ref: "#/components/schemas/ProjectRuleCondition"
                filters:
                  type: array
                  items:
                    $ref: "#/components/schemas/ProjectRuleFilter"
                actions:
                  type: array
                  items:
                    $ref: "#/components/schemas/ProjectRuleAction"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectRule"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    delete:
      summary: Delete a Rule
      operationId: deleteProjectRule
      responses:
        "202":
          description: Accepted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /0/projects/{organization_id_or_slug}/{project_id_or_slug}/ownership:
    parameters:
      - $ref: "#/components/parameters/organization_id_or_slug"
      - $ref: "#/components/parameters/project_id_or_slug"
    get:
      summary: Retrieve ownership configuration for a project
      operationId: getProjectOwnership
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectOwnership"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    put:
      summary: Update ownership configuration for a project
      operationId: updateProjectOwnership
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - autoAssignment
                - codeownersAutoSync
                - fallthrough
                - raw
              properties:
                raw:
                  type: string
                fallthrough:
                  type: boolean
                autoAssignment:
                  type: string
                codeownersAutoSync:
                  type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectRule"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found

security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  parameters:
    organization_id_or_slug:
      name: organization_id_or_slug
      in: path
      required: true
      schema:
        type: string
    project_id_or_slug:
      name: project_id_or_slug
      in: path
      required: true
      schema:
        type: string
    team_id_or_slug:
      name: team_id_or_slug
      in: path
      required: true
      schema:
        type: string
    member_id:
      name: member_id
      in: path
      required: true
      schema:
        type: string
    integration_id:
      name: integration_id
      in: path
      required: true
      schema:
        type: string
    detector_id:
      name: detector_id
      in: path
      required: true
      schema:
        type: string
    cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
  schemas:
    Organization:
      type: object
      required:
        - id
        - name
        - slug
        - orgRoleList
        - teamRoleList
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        orgRoleList:
          type: array
          items:
            $ref: "#/components/schemas/OrganizationRoleListItem"
        teamRoleList:
          type: array
          items:
            $ref: "#/components/schemas/TeamRoleListItem"
        features:
          type: array
          items:
            type: string
    OrganizationMember:
      type: object
      required:
        - id
        - email
        - name
        - pending
        - expired
        - orgRole
        - user
      properties:
        id:
          type: string
        email:
          type: string
        name:
          type: string
        pending:
          type: boolean
        expired:
          type: boolean
        orgRole:
          type: string
        user:
          type: object
          required:
            - id
          properties:
            id:
              type: string
    OrganizationRoleListItem:
      type: object
      required:
        - id
        - name
        - desc
        - scopes
        - isAllowed
        - isRetired
        - isGlobal
        - minimumTeamRole
      properties:
        id:
          type: string
        name:
          type: string
        desc:
          type: string
        scopes:
          type: array
          items:
            type: string
        isAllowed:
          type: boolean
        isRetired:
          type: boolean
        isGlobal:
          type: boolean
        minimumTeamRole:
          type: string
    TeamRoleListItem:
      type: object
      required:
        - id
        - name
        - desc
        - scopes
        - isAllowed
        - isRetired
        - isMinimumRoleFor
      properties:
        id:
          type: string
        name:
          type: string
        desc:
          type: string
        scopes:
          type: array
          items:
            type: string
        isAllowed:
          type: boolean
        isRetired:
          type: boolean
        isMinimumRoleFor:
          type: string
    TeamRole:
      type: object
      required:
        - teamSlug
      properties:
        teamSlug:
          type: string
        role:
          type: string
    OrganizationMemberWithRoles:
      type: object
      required:
        - id
        - email
        - name
        - pending
        - expired
        - orgRole
        - orgRoleList
        - teamRoles
        - teamRoleList
      properties:
        id:
          type: string
        email:
          type: string
        name:
          type: string
        pending:
          type: boolean
        expired:
          type: boolean
        orgRole:
          type: string
        orgRoleList:
          type: array
          items:
            $ref: "#/components/schemas/OrganizationRoleListItem"
        teamRoles:
          type: array
          items:
            $ref: "#/components/schemas/TeamRole"
        teamRoleList:
          type: array
          items:
            $ref: "#/components/schemas/TeamRoleListItem"
    OrganizationIntegration:
      type: object
      required:
        - id
        - name
        - icon
        - domainName
        - accountType
        - scopes
        - status
        - provider
        - configOrganization
        - configData
        - organizationId
        - organizationIntegrationStatus
        - gracePeriodEnd
      properties:
        id:
          type: string
        name:
          type: string
        icon:
          type: string
          nullable: true
        domainName:
          type: string
          nullable: true
        accountType:
          type: string
          nullable: true
        scopes:
          type: array
          items:
            type: string
          nullable: true
        status:
          type: string
        provider:
          type: object
          required:
            - key
          properties:
            key:
              type: string
        configData: {}
        configOrganization: {}
        organizationId:
          type: integer
        organizationIntegrationStatus:
          type: string
        gracePeriodEnd:
          type: string
          nullable: true
      oneOf:
        - $ref: "#/components/schemas/OrganizationIntegration_Opsgenie"
        - $ref: "#/components/schemas/OrganizationIntegration_PagerDuty"
    OrganizationIntegration_Opsgenie:
      type: object
      required:
        - provider
        - configData
      properties:
        provider:
          type: object
          required:
            - key
          properties:
            key:
              type: string
              enum:
                - opsgenie
        configData:
          $ref: "#/components/schemas/OrganizationIntegration_Opsgenie_ConfigData"
    OrganizationIntegration_Opsgenie_ConfigData:
      type: object
      required:
        - team_table
      properties:
        team_table:
          type: array
          items:
            $ref: "#/components/schemas/OrganizationIntegration_Opsgenie_TeamTableItem"
    OrganizationIntegration_Opsgenie_TeamTableItem:
      type: object
      required:
        - team
        - integration_key
        - id
      properties:
        team:
          type: string
        integration_key:
          type: string
        id:
          type: string
    OrganizationIntegration_PagerDuty:
      type: object
      required:
        - provider
        - configData
      properties:
        provider:
          type: object
          required:
            - key
          properties:
            key:
              type: string
              enum:
                - pagerduty
        configData:
          $ref: "#/components/schemas/OrganizationIntegration_PagerDuty_ConfigData"
    OrganizationIntegration_PagerDuty_ConfigData:
      type: object
      required:
        - service_table
      properties:
        service_table:
          type: array
          items:
            $ref: "#/components/schemas/OrganizationIntegration_PagerDuty_ServiceTableItem"
    OrganizationIntegration_PagerDuty_ServiceTableItem:
      type: object
      required:
        - service
        - integration_key
        - id
      properties:
        service:
          type: string
        integration_key:
          type: string
        id:
          type: integer
          x-go-type: json.Number
    Project:
      type: object
      required:
        - organization
        - id
        - name
        - slug
        - platform
        - dateCreated
        - teams
        - features
        - options
        - color
        - isPublic
        - digestsMinDelay
        - digestsMaxDelay
        - resolveAge
        - fingerprintingRules
        - groupingEnhancements
        - allowedDomains
        - scrapeJavaScript
        - subjectTemplate
        - securityToken
        - securityTokenHeader
        - verifySSL
      properties:
        organization:
          $ref: "#/components/schemas/Organization"
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        platform:
          type: string
          nullable: true
        dateCreated:
          type: string
          format: date-time
        teams:
          type: array
          items:
            $ref: "#/components/schemas/Team"
        features:
          type: array
          items:
            type: string
        options:
          type: object
        color:
          type: string
        isPublic:
          type: boolean
        digestsMinDelay:
          type: integer
          format: int64
        digestsMaxDelay:
          type: integer
          format: int64
        resolveAge:
          type: integer
          format: int64
        fingerprintingRules:
          type: string
        groupingEnhancements:
          type: string
        allowedDomains:
          type: array
          items:
            type: string
        scrapeJavaScript:
          type: boolean
        securityToken:
          type: string
        securityTokenHeader:
          type: string
          nullable: true
        subjectTemplate:
          type: string
        verifySSL:
          type: boolean
        highlightTags:
          type: array
          items:
            type: string
    ProjectKey:
      type: object
      required:
        - id
        - name
        - label
        - public
        - secret
        - projectId
        - isActive
        - rateLimit
        - dsn
        - browserSdkVersion
        - dateCreated
        - dynamicSdkLoaderOptions
      properties:
        id:
          type: string
        name:
          type: string
        label:
          type: string
        public:
          type: string
        secret:
          type: string
        projectId:
          type: integer
          x-go-type: json.Number
        isActive:
          type: boolean
        rateLimit:
          type: object
          nullable: true
          required:
            - window
            - count
          properties:
            window:
              type: integer
              format: int64
            count:
              type: integer
              format: int64
        dsn:
          type: object
          additionalProperties:
            type: string
        browserSdkVersion:
          type: string
        dateCreated:
          type: string
          format: date-time
        dynamicSdkLoaderOptions:
          type: object
          required:
            - hasReplay
            - hasPerformance
            - hasDebug
          properties:
            hasReplay:
              type: boolean
            hasPerformance:
              type: boolean
            hasDebug:
              type: boolean
    ProjectRule:
      type: object
      required:
        - id
        - name
        - projects
        - actionMatch
        - filterMatch
        - frequency
        - environment
        - owner
        - conditions
        - filters
        - actions
      properties:
        id:
          type: string
        name:
          type: string
        projects:
          type: array
          items:
            type: string
        actionMatch:
          type: string
        filterMatch:
          type: string
        frequency:
          type: integer
          format: int64
        environment:
          type: string
          nullable: true
        owner:
          type: string
          nullable: true
        conditions:
          type: array
          items:
            $ref: "#/components/schemas/ProjectRuleCondition"
        filters:
          type: array
          items:
            $ref: "#/components/schemas/ProjectRuleFilter"
        actions:
          type: array
          items:
            $ref: "#/components/schemas/ProjectRuleAction"
    ProjectRuleCondition:
      oneOf:
        - $ref: "#/components/schemas/ProjectRuleConditionFirstSeenEvent"
        - $ref: "#/components/schemas/ProjectRuleConditionRegressionEvent"
        - $ref: "#/components/schemas/ProjectRuleConditionReappearedEvent"
        - $ref: "#/components/schemas/ProjectRuleConditionNewHighPriorityIssue"
        - $ref: "#/components/schemas/ProjectRuleConditionExistingHighPriorityIssue"
        - $ref: "#/components/schemas/ProjectRuleConditionEventFrequency"
        - $ref: "#/components/schemas/ProjectRuleConditionEventUniqueUserFrequency"
        - $ref: "#/components/schemas/ProjectRuleConditionEventFrequencyPercent"
      discriminator:
        propertyName: id
        mapping:
          "sentry.rules.conditions.first_seen_event.FirstSeenEventCondition": "#/components/schemas/ProjectRuleConditionFirstSeenEvent"
          "sentry.rules.conditions.regression_event.RegressionEventCondition": "#/components/schemas/ProjectRuleConditionRegressionEvent"
          "sentry.rules.conditions.reappeared_event.ReappearedEventCondition": "#/components/schemas/ProjectRuleConditionReappearedEvent"
          "sentry.rules.conditions.high_priority_issue.NewHighPriorityIssueCondition": "#/components/schemas/ProjectRuleConditionNewHighPriorityIssue"
          "sentry.rules.conditions.high_priority_issue.ExistingHighPriorityIssueCondition": "#/components/schemas/ProjectRuleConditionExistingHighPriorityIssue"
          "sentry.rules.conditions.event_frequency.EventFrequencyCondition": "#/components/schemas/ProjectRuleConditionEventFrequency"
          "sentry.rules.conditions.event_frequency.EventUniqueUserFrequencyCondition": "#/components/schemas/ProjectRuleConditionEventUniqueUserFrequency"
          "sentry.rules.conditions.event_frequency.EventFrequencyPercentCondition": "#/components/schemas/ProjectRuleConditionEventFrequencyPercent"
    ProjectRuleConditionFirstSeenEvent:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.conditions.first_seen_event.FirstSeenEventCondition"
        name:
          type: string
    ProjectRuleConditionRegressionEvent:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.conditions.regression_event.RegressionEventCondition"
        name:
          type: string
    ProjectRuleConditionReappearedEvent:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.conditions.reappeared_event.ReappearedEventCondition"
        name:
          type: string
    ProjectRuleConditionNewHighPriorityIssue:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.conditions.high_priority_issue.NewHighPriorityIssueCondition"
        name:
          type: string
    ProjectRuleConditionExistingHighPriorityIssue:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.conditions.high_priority_issue.ExistingHighPriorityIssueCondition"
        name:
          type: string
    ProjectRuleConditionEventFrequency:
      type: object
      required:
        - id
        - comparisonType
        - value
        - interval
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.conditions.event_frequency.EventFrequencyCondition"
        name:
          type: string
        comparisonType:
          type: string
        comparisonInterval:
          type: string
        value:
          type: integer
          format: int64
        interval:
          type: string
    ProjectRuleConditionEventUniqueUserFrequency:
      type: object
      required:
        - id
        - comparisonType
        - value
        - interval
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.conditions.event_frequency.EventUniqueUserFrequencyCondition"
        name:
          type: string
        comparisonType:
          type: string
        comparisonInterval:
          type: string
        value:
          type: integer
          format: int64
        interval:
          type: string
    ProjectRuleConditionEventFrequencyPercent:
      type: object
      required:
        - id
        - comparisonType
        - value
        - interval
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.conditions.event_frequency.EventFrequencyPercentCondition"
        name:
          type: string
        comparisonType:
          type: string
        comparisonInterval:
          type: string
        value:
          type: number
          format: double
        interval:
          type: string
    ProjectRuleFilter:
      oneOf:
        - $ref: "#/components/schemas/ProjectRuleFilterAgeComparison"
        - $ref: "#/components/schemas/ProjectRuleFilterIssueOccurrences"
        - $ref: "#/components/schemas/ProjectRuleFilterAssignedTo"
        - $ref: "#/components/schemas/ProjectRuleFilterLatestAdoptedRelease"
        - $ref: "#/components/schemas/ProjectRuleFilterLatestRelease"
        - $ref: "#/components/schemas/ProjectRuleFilterIssueCategory"
        - $ref: "#/components/schemas/ProjectRuleFilterEventAttribute"
        - $ref: "#/components/schemas/ProjectRuleFilterTaggedEvent"
        - $ref: "#/components/schemas/ProjectRuleFilterLevel"
      discriminator:
        propertyName: id
        mapping:
          "sentry.rules.filters.age_comparison.AgeComparisonFilter": "#/components/schemas/ProjectRuleFilterAgeComparison"
          "sentry.rules.filters.issue_occurrences.IssueOccurrencesFilter": "#/components/schemas/ProjectRuleFilterIssueOccurrences"
          "sentry.rules.filters.assigned_to.AssignedToFilter": "#/components/schemas/ProjectRuleFilterAssignedTo"
          "sentry.rules.filters.latest_adopted_release_filter.LatestAdoptedReleaseFilter": "#/components/schemas/ProjectRuleFilterLatestAdoptedRelease"
          "sentry.rules.filters.latest_release.LatestReleaseFilter": "#/components/schemas/ProjectRuleFilterLatestRelease"
          "sentry.rules.filters.issue_category.IssueCategoryFilter": "#/components/schemas/ProjectRuleFilterIssueCategory"
          "sentry.rules.filters.event_attribute.EventAttributeFilter": "#/components/schemas/ProjectRuleFilterEventAttribute"
          "sentry.rules.filters.tagged_event.TaggedEventFilter": "#/components/schemas/ProjectRuleFilterTaggedEvent"
          "sentry.rules.filters.level.LevelFilter": "#/components/schemas/ProjectRuleFilterLevel"
    ProjectRuleFilterAgeComparison:
      type: object
      required:
        - id
        - comparison_type
        - value
        - time
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.filters.age_comparison.AgeComparisonFilter"
        name:
          type: string
        comparison_type:
          type: string
        value:
          type: integer
          format: int64
        time:
          type: string
    ProjectRuleFilterIssueOccurrences:
      type: object
      required:
        - id
        - value
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.filters.issue_occurrences.IssueOccurrencesFilter"
        name:
          type: string
        value:
          type: integer
          format: int64
    ProjectRuleFilterAssignedTo:
      type: object
      required:
        - id
        - targetType
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.filters.assigned_to.AssignedToFilter"
        name:
          type: string
        targetType:
          type: string
        targetIdentifier:
          oneOf:
            - type: string
            - type: integer
              x-go-type: json.Number
    ProjectRuleFilterLatestAdoptedRelease:
      type: object
      required:
        - id
        - oldest_or_newest
        - older_or_newer
        - environment
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.filters.latest_adopted_release_filter.LatestAdoptedReleaseFilter"
        name:
          type: string
        oldest_or_newest:
          type: string
        older_or_newer:
          type: string
        environment:
          type: string
    ProjectRuleFilterLatestRelease:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.filters.latest_release.LatestReleaseFilter"
        name:
          type: string
    ProjectRuleFilterIssueCategory:
      type: object
      required:
        - id
        - value
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.filters.issue_category.IssueCategoryFilter"
        name:
          type: string
        value:
          type: string
    ProjectRuleFilterEventAttribute:
      type: object
      required:
        - id
        - attribute
        - match
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.filters.event_attribute.EventAttributeFilter"
        name:
          type: string
        attribute:
          type: string
        match:
          type: string
        value:
          oneOf:
            - type: string
            - type: integer
              x-go-type: json.Number
    ProjectRuleFilterTaggedEvent:
      type: object
      required:
        - id
        - key
        - match
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.filters.tagged_event.TaggedEventFilter"
        name:
          type: string
        key:
          type: string
        match:
          type: string
        value:
          type: string
    ProjectRuleFilterLevel:
      type: object
      required:
        - id
        - level
        - match
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.filters.level.LevelFilter"
        name:
          type: string
        level:
          type: string
        match:
          type: string
    ProjectRuleAction:
      oneOf:
        - $ref: "#/components/schemas/ProjectRuleActionNotifyEmail"
        - $ref: "#/components/schemas/ProjectRuleActionNotifyEvent"
        - $ref: "#/components/schemas/ProjectRuleActionNotifyEventService"
        - $ref: "#/components/schemas/ProjectRuleActionNotifyEventSentryApp"
        - $ref: "#/components/schemas/ProjectRuleActionOpsgenieNotifyTeam"
        - $ref: "#/components/schemas/ProjectRuleActionPagerDutyNotifyService"
        - $ref: "#/components/schemas/ProjectRuleActionSlackNotifyService"
        - $ref: "#/components/schemas/ProjectRuleActionMsTeamsNotifyService"
        - $ref: "#/components/schemas/ProjectRuleActionDiscordNotifyService"
        - $ref: "#/components/schemas/ProjectRuleActionJiraCreateTicket"
        - $ref: "#/components/schemas/ProjectRuleActionJiraServerCreateTicket"
        - $ref: "#/components/schemas/ProjectRuleActionGitHubCreateTicket"
        - $ref: "#/components/schemas/ProjectRuleActionGitHubEnterpriseCreateTicket"
        - $ref: "#/components/schemas/ProjectRuleActionAzureDevopsCreateTicket"
      discriminator:
        propertyName: id
        mapping:
          "sentry.mail.actions.NotifyEmailAction": "#/components/schemas/ProjectRuleActionNotifyEmail"
          "sentry.rules.actions.notify_event.NotifyEventAction": "#/components/schemas/ProjectRuleActionNotifyEvent"
          "sentry.rules.actions.notify_event_service.NotifyEventServiceAction": "#/components/schemas/ProjectRuleActionNotifyEventService"
          "sentry.rules.actions.notify_event_sentry_app.NotifyEventSentryAppAction": "#/components/schemas/ProjectRuleActionNotifyEventSentryApp"
          "sentry.integrations.opsgenie.notify_action.OpsgenieNotifyTeamAction": "#/components/schemas/ProjectRuleActionOpsgenieNotifyTeam"
          "sentry.integrations.pagerduty.notify_action.PagerDutyNotifyServiceAction": "#/components/schemas/ProjectRuleActionPagerDutyNotifyService"
          "sentry.integrations.slack.notify_action.SlackNotifyServiceAction": "#/components/schemas/ProjectRuleActionSlackNotifyService"
          "sentry.integrations.msteams.notify_action.MsTeamsNotifyServiceAction": "#/components/schemas/ProjectRuleActionMsTeamsNotifyService"
          "sentry.integrations.discord.notify_action.DiscordNotifyServiceAction": "#/components/schemas/ProjectRuleActionDiscordNotifyService"
          "sentry.integrations.jira.notify_action.JiraCreateTicketAction": "#/components/schemas/ProjectRuleActionJiraCreateTicket"
          "sentry.integrations.jira_server.notify_action.JiraServerCreateTicketAction": "#/components/schemas/ProjectRuleActionJiraServerCreateTicket"
          "sentry.integrations.github.notify_action.GitHubCreateTicketAction": "#/components/schemas/ProjectRuleActionGitHubCreateTicket"
          "sentry.integrations.github_enterprise.notify_action.GitHubEnterpriseCreateTicketAction": "#/components/schemas/ProjectRuleActionGitHubEnterpriseCreateTicket"
          "sentry.integrations.vsts.notify_action.AzureDevopsCreateTicketAction": "#/components/schemas/ProjectRuleActionAzureDevopsCreateTicket"
    ProjectRuleActionNotifyEmail:
      type: object
      required:
        - id
        - targetType
      properties:
        id:
          type: string
          enum:
            - "sentry.mail.actions.NotifyEmailAction"
        uuid:
          type: string
        name:
          type: string
        targetType:
          type: string
        targetIdentifier:
          oneOf:
            - type: string
            - type: integer
              x-go-type: json.Number
        fallthroughType:
          type: string
    ProjectRuleActionNotifyEvent:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.actions.notify_event.NotifyEventAction"
        uuid:
          type: string
        name:
          type: string
    ProjectRuleActionNotifyEventService:
      type: object
      required:
        - id
        - service
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.actions.notify_event_service.NotifyEventServiceAction"
        uuid:
          type: string
        name:
          type: string
        service:
          type: string
    ProjectRuleActionNotifyEventSentryApp:
      type: object
      required:
        - id
        - sentryAppInstallationUuid
        - hasSchemaFormConfig
      properties:
        id:
          type: string
          enum:
            - "sentry.rules.actions.notify_event_sentry_app.NotifyEventSentryAppAction"
        uuid:
          type: string
        name:
          type: string
        sentryAppInstallationUuid:
          type: string
        hasSchemaFormConfig:
          type: boolean
        settings:
          type: array
          items:
            type: object
            required:
              - name
              - value
            properties:
              name:
                type: string
              value:
                type: string
    ProjectRuleActionOpsgenieNotifyTeam:
      type: object
      required:
        - id
        - account
        - team
        - priority
      properties:
        id:
          type: string
          enum:
            - "sentry.integrations.opsgenie.notify_action.OpsgenieNotifyTeamAction"
        uuid:
          type: string
        name:
          type: string
        account:
          type: integer
          x-go-type: json.Number
        team:
          type: string
        priority:
          type: string
    ProjectRuleActionPagerDutyNotifyService:
      type: object
      required:
        - id
        - account
        - service
        - severity
      properties:
        id:
          type: string
          enum:
            - "sentry.integrations.pagerduty.notify_action.PagerDutyNotifyServiceAction"
        uuid:
          type: string
        name:
          type: string
        account:
          type: integer
          x-go-type: json.Number
        service:
          type: string
        severity:
          type: string
    ProjectRuleActionSlackNotifyService:
      type: object
      required:
        - id
        - workspace
        - channel
      properties:
        id:
          type: string
          enum:
            - "sentry.integrations.slack.notify_action.SlackNotifyServiceAction"
        uuid:
          type: string
        name:
          type: string
        workspace:
          type: string
        channel:
          type: string
        channel_id:
          type: string
        tags:
          type: string
        notes:
          type: string
    ProjectRuleActionMsTeamsNotifyService:
      type: object
      required:
        - id
        - team
        - channel
      properties:
        id:
          type: string
          enum:
            - "sentry.integrations.msteams.notify_action.MsTeamsNotifyServiceAction"
        uuid:
          type: string
        name:
          type: string
        team:
          type: string
        channel:
          type: string
        channel_id:
          type: string
    ProjectRuleActionDiscordNotifyService:
      type: object
      required:
        - id
        - server
        - channel_id
      properties:
        id:
          type: string
          enum:
            - "sentry.integrations.discord.notify_action.DiscordNotifyServiceAction"
        uuid:
          type: string
        name:
          type: string
        server:
          type: integer
          x-go-type: json.Number
        channel_id:
          type: string
        tags:
          type: string
    ProjectRuleActionJiraCreateTicket:
      type: object
      required:
        - id
        - integration
        - project
        - issueType
        - dynamic_form_fields
      properties:
        id:
          type: string
          enum:
            - "sentry.integrations.jira.notify_action.JiraCreateTicketAction"
        uuid:
          type: string
        name:
          type: string
        integration:
          type: integer
          x-go-type: json.Number
        project:
          type: string
        issueType:
          type: string
        dynamic_form_fields:
          type: array
          items:
            type: object
    ProjectRuleActionJiraServerCreateTicket:
      type: object
      required:
        - id
        - integration
        - project
        - issueType
        - dynamic_form_fields
      properties:
        id:
          type: string
          enum:
            - "sentry.integrations.jira.notify_action.JiraCreateTicketAction"
        uuid:
          type: string
        name:
          type: string
        integration:
          type: string
        project:
          type: string
        issueType:
          type: string
        dynamic_form_fields:
          type: array
          items:
            type: object
    ProjectRuleActionGitHubCreateTicket:
      type: object
      required:
        - id
        - integration
        - repo
        - dynamic_form_fields
      properties:
        id:
          type: string
          enum:
            - "sentry.integrations.github.notify_action.GitHubCreateTicketAction"
        uuid:
          type: string
        name:
          type: string
        integration:
          type: integer
          x-go-type: json.Number
        repo:
          type: string
        assignee:
          type: string
        labels:
          type: array
          items:
            type: string
        dynamic_form_fields:
          type: array
          items:
            type: object
    ProjectRuleActionGitHubEnterpriseCreateTicket:
      type: object
      required:
        - id
        - integration
        - repo
        - dynamic_form_fields
      properties:
        id:
          type: string
          enum:
            - "sentry.integrations.github_enterprise.notify_action.GitHubEnterpriseCreateTicketAction"
        uuid:
          type: string
        name:
          type: string
        integration:
          type: integer
          x-go-type: json.Number
        repo:
          type: string
        assignee:
          type: string
        labels:
          type: array
          items:
            type: string
        dynamic_form_fields:
          type: array
          items:
            type: object
    ProjectRuleActionAzureDevopsCreateTicket:
      type: object
      required:
        - id
        - integration
        - project
        - work_item_type
        - dynamic_form_fields
      properties:
        id:
          type: string
          enum:
            - "sentry.integrations.vsts.notify_action.AzureDevopsCreateTicketAction"
        uuid:
          type: string
        name:
          type: string
        integration:
          type: integer
          x-go-type: json.Number
        project:
          type: string
        work_item_type:
          type: string
        dynamic_form_fields:
          type: array
          items:
            type: object
    ProjectOwnership:
      type: object
      required:
        - autoAssignment
        - codeownersAutoSync
        - dateCreated
        - fallthrough
        - lastUpdated
        - raw
      properties:
        raw:
          type: string
        fallthrough:
          type: boolean
        dateCreated:
          type: string
          format: date-time
        lastUpdated:
          type: string
          format: date-time
        autoAssignment:
          type: string
        codeownersAutoSync:
          type: boolean
    ProjectMonitorRequest_Base:
      type: object
      required:
        - projectId
        - name
        - description
        - owner
      properties:
        projectId:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        enabled:
          type: boolean
          nullable: true
        owner:
          type: string
          nullable: true
        config:
          $ref: "#/components/schemas/ProjectMonitor_Config"
    ProjectMonitorRequest_MetricIssue:
      allOf:
        - $ref: "#/components/schemas/ProjectMonitorRequest_Base"
        - type: object
          required:
            - type
            - dataSources
            - conditionGroup
          properties:
            type:
              type: string
              enum:
                - metric_issue
            dataSources:
              type: array
              items:
                $ref: "#/components/schemas/ProjectMonitor_DataSource_SnubaQuerySubscription"
            conditionGroup:
              $ref: "#/components/schemas/ProjectMonitor_ConditionGroup"
    ProjectMonitorRequest_MonitorCheckInFailure:
      allOf:
        - $ref: "#/components/schemas/ProjectMonitorRequest_Base"
        - type: object
          required:
            - type
            - dataSources
          properties:
            type:
              type: string
              enum:
                - monitor_check_in_failure
            dataSources:
              type: array
              items:
                $ref: "#/components/schemas/ProjectMonitor_DataSource_Cron"
    ProjectMonitorRequest_UptimeDomainFailure:
      allOf:
        - $ref: "#/components/schemas/ProjectMonitorRequest_Base"
        - type: object
          required:
            - type
            - dataSources
          properties:
            type:
              type: string
              enum:
                - uptime_domain_failure
            dataSources:
              type: array
              items:
                $ref: "#/components/schemas/ProjectMonitor_DataSource_UptimeDomainFailure"
    ProjectMonitorRequest:
      oneOf:
        - $ref: "#/components/schemas/ProjectMonitorRequest_MetricIssue"
        - $ref: "#/components/schemas/ProjectMonitorRequest_MonitorCheckInFailure"
        - $ref: "#/components/schemas/ProjectMonitorRequest_UptimeDomainFailure"
      discriminator:
        propertyName: type
        mapping:
          metric_issue: "#/components/schemas/ProjectMonitorRequest_MetricIssue"
          monitor_check_in_failure: "#/components/schemas/ProjectMonitorRequest_MonitorCheckInFailure"
          uptime_domain_failure: "#/components/schemas/ProjectMonitorRequest_UptimeDomainFailure"
    ProjectMonitor:
      type: object
      required:
        - id
        - projectId
        - enabled
        - name
        - type
        - description
        - owner
        - dataSources
        - conditionGroup
        - config
        - dateCreated
        - dateUpdated
      properties:
        id:
          type: string
        projectId:
          type: string
        enabled:
          type: boolean
        name:
          type: string
        type:
          type: string
        description:
          type: string
          nullable: true
        owner:
          $ref: "#/components/schemas/ProjectMonitor_Owner"
        dataSources:
          type: array
          items:
            $ref: "#/components/schemas/ProjectMonitor_DataSource_Wrapper"
        conditionGroup:
          $ref: "#/components/schemas/ProjectMonitor_ConditionGroup"
        config:
          $ref: "#/components/schemas/ProjectMonitor_Config"
        dateCreated:
          type: string
          format: date-time
        dateUpdated:
          type: string
          format: date-time
    ProjectMonitor_Config:
      oneOf:
        - $ref: "#/components/schemas/ProjectMonitor_Config_MetricIssue"
        - $ref: "#/components/schemas/ProjectMonitor_Config_UptimeDomainFailure"
    ProjectMonitor_Config_MetricIssue:
      type: object
      properties:
        detectionType:
          type: string
        comparisonDelta:
          type: integer
          format: int64
    ProjectMonitor_Config_UptimeDomainFailure:
      type: object
      required:
        - mode
        - environment
        - recoveryThreshold
        - downtimeThreshold
      properties:
        mode:
          type: integer
          format: int64
          enum:
            - 1
            - 2
            - 3
        environment:
          type: string
        recoveryThreshold:
          type: integer
          format: int64
        downtimeThreshold:
          type: integer
          format: int64
    ProjectMonitor_DataSource_Wrapper:
      oneOf:
        - $ref: "#/components/schemas/ProjectMonitor_DataSource_Wrapper_CronMonitor"
        - $ref: "#/components/schemas/ProjectMonitor_DataSource_Wrapper_SnubaQuerySubscription"
        - $ref: "#/components/schemas/ProjectMonitor_DataSource_Wrapper_UptimeSubscription"
      discriminator:
        propertyName: type
        mapping:
          cron_monitor: "#/components/schemas/ProjectMonitor_DataSource_Wrapper_CronMonitor"
          snuba_query_subscription: "#/components/schemas/ProjectMonitor_DataSource_Wrapper_SnubaQuerySubscription"
          uptime_subscription: "#/components/schemas/ProjectMonitor_DataSource_Wrapper_UptimeSubscription"
    ProjectMonitor_DataSource_Wrapper_CronMonitor:
      type: object
      required:
        - type
        - queryObj
      properties:
        type:
          type: string
          enum:
            - cron_monitor
        queryObj:
          $ref: "#/components/schemas/ProjectMonitor_DataSource_Cron"
    ProjectMonitor_DataSource_Wrapper_SnubaQuerySubscription:
      type: object
      required:
        - type
        - queryObj
      properties:
        type:
          type: string
          enum:
            - snuba_query_subscription
        queryObj:
          type: object
          required:
            - snubaQuery
          properties:
            snubaQuery:
              $ref: "#/components/schemas/ProjectMonitor_DataSource_SnubaQuerySubscription"
    ProjectMonitor_DataSource_Wrapper_UptimeSubscription:
      type: object
      required:
        - type
        - queryObj
      properties:
        type:
          type: string
          enum:
            - uptime_subscription
        queryObj:
          $ref: "#/components/schemas/ProjectMonitor_DataSource_UptimeDomainFailure"
    ProjectMonitor_Owner:
      oneOf:
        - $ref: "#/components/schemas/ProjectMonitor_Owner_User"
        - $ref: "#/components/schemas/ProjectMonitor_Owner_Team"
      discriminator:
        propertyName: type
        mapping:
          user: "#/components/schemas/ProjectMonitor_Owner_User"
          team: "#/components/schemas/ProjectMonitor_Owner_Team"
      nullable: true
    ProjectMonitor_Owner_User:
      type: object
      required:
        - type
        - id
        - name
        - email
      properties:
        type:
          type: string
          enum:
            - user
        id:
          type: string
        name:
          type: string
        email:
          type: string
    ProjectMonitor_Owner_Team:
      type: object
      required:
        - type
        - id
        - name
      properties:
        type:
          type: string
          enum:
            - team
        id:
          type: string
        name:
          type: string
    ProjectMonitor_DataSource_Cron:
      type: object
      required:
        - name
        - config
      properties:
        name:
          type: string
        config:
          $ref: "#/components/schemas/ProjectMonitor_DataSource_Config_Cron"
    ProjectMonitor_DataSource_UptimeDomainFailure:
      type: object
      required:
        - url
        - method
        - body
        - headers
        - intervalSeconds
        - timeoutMs
        - traceSampling
        - assertion
      properties:
        url:
          type: string
        method:
          type: string
        body:
          type: string
          nullable: true
        headers:
          type: array
          items:
            type: array
            items:
              type: string
        intervalSeconds:
          type: integer
          format: int64
        timeoutMs:
          type: integer
          format: int64
        traceSampling:
          type: boolean
        assertion:
          type: object # TODO
    ProjectMonitor_DataSource_SnubaQuerySubscription:
      type: object
      required:
        - aggregate
        - dataset
        - environment
        - eventTypes
        - query
        - queryType
        - timeWindow
        - extrapolationMode
      properties:
        aggregate:
          type: string
        dataset:
          type: string
        environment:
          type: string
          nullable: true
        eventTypes:
          type: array
          items:
            type: string
        query:
          type: string
        queryType:
          type: integer
          format: int64
        timeWindow:
          type: integer
          format: int64
        extrapolationMode:
          type: string
          nullable: true
    ProjectMonitor_DataSource_Config_Cron:
      oneOf:
        - $ref: "#/components/schemas/ProjectMonitor_DataSource_Config_Cron_Crontab"
        - $ref: "#/components/schemas/ProjectMonitor_DataSource_Config_Cron_Interval"
      discriminator:
        propertyName: schedule_type
        mapping:
          crontab: "#/components/schemas/ProjectMonitor_DataSource_Config_Cron_Crontab"
          interval: "#/components/schemas/ProjectMonitor_DataSource_Config_Cron_Interval"
    ProjectMonitor_DataSource_Config_Cron_Base:
      type: object
      required:
        - checkin_margin
        - failure_issue_threshold
        - max_runtime
        - recovery_threshold
        - timezone
      properties:
        checkin_margin:
          type: integer
          format: int64
        failure_issue_threshold:
          type: integer
          format: int64
        max_runtime:
          type: integer
          format: int64
        recovery_threshold:
          type: integer
          format: int64
        timezone:
          type: string
    ProjectMonitor_DataSource_Config_Cron_Crontab:
      allOf:
        - $ref: "#/components/schemas/ProjectMonitor_DataSource_Config_Cron_Base"
        - type: object
          required:
            - schedule_type
            - schedule
          properties:
            schedule_type:
              type: string
              enum:
                - crontab
            schedule:
              type: string
    ProjectMonitor_DataSource_Config_Cron_Interval:
      allOf:
        - $ref: "#/components/schemas/ProjectMonitor_DataSource_Config_Cron_Base"
        - type: object
          required:
            - schedule_type
            - schedule
          properties:
            schedule_type:
              type: string
              enum:
                - interval
            schedule:
              type: array
              items:
                anyOf:
                  - $ref: "#/components/schemas/ProjectMonitor_DataSource_Config_Cron_Interval_Value"
                  - $ref: "#/components/schemas/ProjectMonitor_DataSource_Config_Cron_Interval_Unit"
    ProjectMonitor_DataSource_Config_Cron_Interval_Value:
      type: integer
      format: int64
    ProjectMonitor_DataSource_Config_Cron_Interval_Unit:
      type: string
    ProjectMonitor_ConditionGroup:
      type: object
      required:
        - conditions
        - logicType
      properties:
        conditions:
          type: array
          items:
            $ref: "#/components/schemas/ProjectMonitor_ConditionGroup_Condition"
        logicType:
          type: string
          enum:
            - any
            - any-short
            - all
            - none
    ProjectMonitor_ConditionGroup_Condition:
      type: object
      required:
        - type
        - comparison
        - conditionResult
      properties:
        type:
          type: string
        comparison:
          oneOf:
            - type: string
            - type: integer
              format: int64
        conditionResult:
          type: integer
          format: int64
    SentryAppInstallation:
      type: object
      required:
        - uuid
        - status
        - app
        - organization
      properties:
        uuid:
          type: string
        status:
          type: string
        app:
          type: object
          required:
            - uuid
            - slug
            - sentryAppId
          properties:
            uuid:
              type: string
            slug:
              type: string
            sentryAppId:
              type: integer
        organization:
          type: object
          required:
            - slug
          properties:
            slug:
              type: string
    Team:
      type: object
      required:
        - id
        - slug
        - name
      properties:
        id:
          type: string
        slug:
          type: string
        name:
          type: string
    OrganizationWorkflowRequest:
      type: object
      required:
        - name
        - enabled
        - environment
        - config
        - detectorIds
        - triggers
        - actionFilters
      properties:
        name:
          type: string
        enabled:
          type: boolean
        environment:
          type: string
        config:
          $ref: "#/components/schemas/OrganizationWorkflow_Config"
        detectorIds:
          type: array
          items:
            type: string
        triggers:
          $ref: "#/components/schemas/OrganizationWorkflow_Trigger"
        actionFilters:
          type: array
          items:
            $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter"
    UpdateOrganizationWorkflowRequest:
      allOf:
        - $ref: "#/components/schemas/OrganizationWorkflowRequest"
        - type: object
          required:
            - id
          properties:
            id:
              type: string
    OrganizationWorkflow:
      type: object
      required:
        - id
        - name
        - enabled
        - environment
        - config
        - detectorIds
        - triggers
        - actionFilters
      properties:
        id:
          type: string
        name:
          type: string
        enabled:
          type: boolean
        environment:
          type: string
        config:
          $ref: "#/components/schemas/OrganizationWorkflow_Config"
        detectorIds:
          type: array
          items:
            type: string
        triggers:
          $ref: "#/components/schemas/OrganizationWorkflow_Trigger"
        actionFilters:
          type: array
          items:
            $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter"
    OrganizationWorkflow_Config:
      type: object
      required:
        - frequency
      properties:
        frequency:
          type: integer
          format: int64
    OrganizationWorkflow_Trigger:
      type: object
      required:
        - logicType
        - conditions
      properties:
        logicType:
          type: string
          enum:
            - any-short
        conditions:
          type: array
          items:
            $ref: "#/components/schemas/OrganizationWorkflow_Trigger_Condition"
    OrganizationWorkflow_Trigger_Condition:
      type: object
      required:
        - type
        - comparison
        - conditionResult
      properties:
        type:
          type: string
        comparison:
          type: boolean
        conditionResult:
          type: boolean
    OrganizationWorkflow_ActionFilter:
      type: object
      required:
        - logicType
        - conditions
        - actions
      properties:
        logicType:
          type: string
          enum:
            - any
            - any-short
            - all
            - none
        conditions:
          type: array
          items:
            $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition"
        actions:
          type: array
          items:
            $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Action"
    OrganizationWorkflow_ActionFilter_Condition:
      oneOf:
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_AgeComparison"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_AssignedTo"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_IssueCategory"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_IssueOccurrences"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_IssuePriorityDeescalating"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_IssuePriorityGreaterOrEqual"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_EventUniqueUserFrequencyCount"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_EventFrequencyCount"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_EventFrequencyPercent"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_PercentSessionsCount"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_PercentSessionsPercent"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_EventAttribute"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_TaggedEvent"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_LatestRelease"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_LatestAdoptedRelease"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_Level"
      discriminator:
        propertyName: type
        mapping:
          age_comparison: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_AgeComparison"
          assigned_to: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_AssignedTo"
          issue_category: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_IssueCategory"
          issue_occurrences: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_IssueOccurrences"
          issue_priority_deescalating: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_IssuePriorityDeescalating"
          issue_priority_greater_or_equal: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_IssuePriorityGreaterOrEqual"
          event_unique_user_frequency_count: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_EventUniqueUserFrequencyCount"
          event_frequency_count: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_EventFrequencyCount"
          event_frequency_percent: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_EventFrequencyPercent"
          percent_sessions_count: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_PercentSessionsCount"
          percent_sessions_percent: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_PercentSessionsPercent"
          event_attribute: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_EventAttribute"
          tagged_event: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_TaggedEvent"
          latest_release: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_LatestRelease"
          latest_adopted_release: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_LatestAdoptedRelease"
          level: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_Level"
    OrganizationWorkflow_ActionFilter_Condition_AgeComparison:
      type: object
      required:
        - type
        - comparison
        - conditionResult
      properties:
        type:
          type: string
          enum:
            - age_comparison
        comparison:
          type: object
          required:
            - time
            - value
            - comparisonType
          properties:
            time:
              type: string
              enum:
                - minute
                - hour
                - day
                - week
            value:
              type: integer
              format: int64
            comparisonType:
              type: string
              enum:
                - older
                - newer
        conditionResult:
          type: boolean
    OrganizationWorkflow_ActionFilter_Condition_AssignedTo:
      type: object
      required:
        - type
        - comparison
        - conditionResult
      properties:
        type:
          type: string
          enum:
            - assigned_to
        comparison:
          type: object
          required:
            - targetType
            - targetIdentifier
          properties:
            targetType:
              type: string
              enum:
                - NoOne
                - Member
                - Team
            targetIdentifier:
              oneOf:
                - type: string
                - type: integer
                  format: int64
        conditionResult:
          type: boolean
    OrganizationWorkflow_ActionFilter_Condition_IssueCategory:
      type: object
      required:
        - type
        - comparison
        - conditionResult
      properties:
        type:
          type: string
          enum:
            - issue_category
        comparison:
          type: object
          required:
            - value
          properties:
            value:
              type: integer
              format: int64
        conditionResult:
          type: boolean
    OrganizationWorkflow_ActionFilter_Condition_IssueOccurrences:
      type: object
      required:
        - type
        - comparison
        - conditionResult
      properties:
        type:
          type: string
          enum:
            - issue_occurrences
        comparison:
          type: object
          required:
            - value
          properties:
            value:
              type: integer
              format: int64
        conditionResult:
          type: boolean
    OrganizationWorkflow_ActionFilter_Condition_IssuePriorityDeescalating:
      type: object
      required:
        - type
        - comparison
        - conditionResult
      properties:
        type:
          type: string
          enum:
            - issue_priority_deescalating
        comparison:
          type: boolean
        conditionResult:
          type: boolean
    OrganizationWorkflow_ActionFilter_Condition_IssuePriorityGreaterOrEqual:
      type: object
      required:
        - type
        - comparison
        - conditionResult
      properties:
        type:
          type: string
          enum:
            - issue_priority_greater_or_equal
        comparison:
          type: integer
          format: int64
        conditionResult:
          type: boolean
    OrganizationWorkflow_ActionFilter_Condition_EventUniqueUserFrequencyCount:
      type: object
      required:
        - type
        - comparison
        - conditionResult
      properties:
        type:
          type: string
          enum:
            - event_unique_user_frequency_count
        comparison:
          type: object
          required:
            - value
            - filters
            - interval
          properties:
            value:
              type: integer
              format: int64
            filters:
              type: array
              items:
                $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Condition_EventUniqueUserFrequencyCount_Filter"
            interval:
              type: string
        conditionResult:
          type: boolean
    OrganizationWorkflow_ActionFilter_Condition_EventUniqueUserFrequencyCount_Filter:
      type: object
      properties:
        key:
          type: string
        attribute:
          type: string
        match:
          type: string
        value:
          type: string
    OrganizationWorkflow_ActionFilter_Condition_EventFrequencyCount:
      type: object
      required:
        - type
        - comparison
        - conditionResult
      properties:
        type:
          type: string
          enum:
            - event_frequency_count
        comparison:
          type: object
          required:
            - value
            - interval
          properties:
            value:
              type: integer
              format: int64
            interval:
              type: string
        conditionResult:
          type: boolean
    OrganizationWorkflow_ActionFilter_Condition_EventFrequencyPercent:
      type: object
      required:
        - type
        - comparison
        - conditionResult
      properties:
        type:
          type: string
          enum:
            - event_frequency_percent
        comparison:
          type: object
          required:
            - value
            - interval
            - comparisonInterval
          properties:
            value:
              type: integer
              format: int64
            interval:
              type: string
            comparisonInterval:
              type: string
        conditionResult:
          type: boolean
    OrganizationWorkflow_ActionFilter_Condition_PercentSessionsCount:
      type: object
      required:
        - type
        - comparison
        - conditionResult
      properties:
        type:
          type: string
          enum:
            - percent_sessions_count
        comparison:
          type: object
          required:
            - value
            - interval
          properties:
            value:
              type: integer
              format: int64
            interval:
              type: string
        conditionResult:
          type: boolean
    OrganizationWorkflow_ActionFilter_Condition_PercentSessionsPercent:
      type: object
      required:
        - type
        - comparison
        - conditionResult
      properties:
        type:
          type: string
          enum:
            - percent_sessions_percent
        comparison:
          type: object
          required:
            - value
            - interval
            - comparisonInterval
          properties:
            value:
              type: integer
              format: int64
            interval:
              type: string
            comparisonInterval:
              type: string
        conditionResult:
          type: boolean
    OrganizationWorkflow_ActionFilter_Condition_EventAttribute:
      type: object
      required:
        - type
        - comparison
        - conditionResult
      properties:
        type:
          type: string
          enum:
            - event_attribute
        comparison:
          type: object
          required:
            - attribute
            - match
            - value
          properties:
            attribute:
              type: string
            match:
              type: string
            value:
              type: string
        conditionResult:
          type: boolean
    OrganizationWorkflow_ActionFilter_Condition_TaggedEvent:
      type: object
      required:
        - type
        - comparison
        - conditionResult
      properties:
        type:
          type: string
          enum:
            - tagged_event
        comparison:
          type: object
          required:
            - key
            - match
          properties:
            key:
              type: string
            match:
              type: string
            value:
              type: string
        conditionResult:
          type: boolean
    OrganizationWorkflow_ActionFilter_Condition_LatestRelease:
      type: object
      required:
        - type
        - comparison
        - conditionResult
      properties:
        type:
          type: string
          enum:
            - latest_release
        comparison:
          type: boolean
        conditionResult:
          type: boolean
    OrganizationWorkflow_ActionFilter_Condition_LatestAdoptedRelease:
      type: object
      required:
        - type
        - comparison
        - conditionResult
      properties:
        type:
          type: string
          enum:
            - latest_adopted_release
        comparison:
          type: object
          required:
            - environment
            - ageComparison
            - releaseAgeType
          properties:
            environment:
              type: string
            ageComparison:
              type: string
            releaseAgeType:
              type: string
        conditionResult:
          type: boolean
    OrganizationWorkflow_ActionFilter_Condition_Level:
      type: object
      required:
        - type
        - comparison
        - conditionResult
      properties:
        type:
          type: string
          enum:
            - level
        comparison:
          type: object
          required:
            - match
            - level
          properties:
            match:
              type: string
            level:
              type: integer
              format: int64
        conditionResult:
          type: boolean
    OrganizationWorkflow_ActionFilter_Action:
      oneOf:
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Action_Email"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Action_Plugin"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Action_Slack"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Action_PagerDuty"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Action_Discord"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Action_MsTeams"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Action_Opsgenie"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Action_Vsts"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Action_Jira"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Action_JiraServer"
        - $ref: "#/components/schemas/OrganizationWorkflow_ActionFilter_Action_GitHub"
      discriminator:
        propertyName: type
        mapping:
          email: "#/components/schemas/OrganizationWorkflow_ActionFilter_Action_Email"
          plugin: "#/components/schemas/OrganizationWorkflow_ActionFilter_Action_Plugin"
          slack: "#/components/schemas/OrganizationWorkflow_ActionFilter_Action_Slack"
          pagerduty: "#/components/schemas/OrganizationWorkflow_ActionFilter_Action_PagerDuty"
          discord: "#/components/schemas/OrganizationWorkflow_ActionFilter_Action_Discord"
          msteams: "#/components/schemas/OrganizationWorkflow_ActionFilter_Action_MsTeams"
          opsgenie: "#/components/schemas/OrganizationWorkflow_ActionFilter_Action_Opsgenie"
          vsts: "#/components/schemas/OrganizationWorkflow_ActionFilter_Action_Vsts"
          jira: "#/components/schemas/OrganizationWorkflow_ActionFilter_Action_Jira"
          jira_server: "#/components/schemas/OrganizationWorkflow_ActionFilter_Action_JiraServer"
          github: "#/components/schemas/OrganizationWorkflow_ActionFilter_Action_GitHub"
    OrganizationWorkflow_ActionFilter_Action_Email:
      type: object
      required:
        - type
        - data
        - config
      properties:
        type:
          type: string
          enum:
            - email
        data:
          type: object
          properties:
            fallthroughType:
              type: string
              enum:
                - AllMembers
                - ActiveMembers
                - NoOne
        config:
          type: object
          required:
            - targetType
          properties:
            targetType:
              type: string
              enum:
                - issue_owners
                - team
                - user
            targetIdentifier:
              type: string
    OrganizationWorkflow_ActionFilter_Action_Plugin:
      type: object
      required:
        - type
        - data
        - config
      properties:
        type:
          type: string
          enum:
            - plugin
        data:
          type: object
        config:
          type: object
    OrganizationWorkflow_ActionFilter_Action_Slack:
      type: object
      required:
        - type
        - data
        - config
        - integrationId
      properties:
        type:
          type: string
          enum:
            - slack
        data:
          type: object
          properties:
            tags:
              type: string
            notes:
              type: string
        config:
          type: object
          required:
            - targetType
            - targetIdentifier
            - targetDisplay
          properties:
            targetType:
              type: string
              enum:
                - specific
            targetIdentifier:
              type: string
            targetDisplay:
              type: string
        integrationId:
          type: string
    OrganizationWorkflow_ActionFilter_Action_PagerDuty:
      type: object
      required:
        - type
        - data
        - config
        - integrationId
      properties:
        type:
          type: string
          enum:
            - pagerduty
        data:
          type: object
          properties:
            priority:
              type: string
        config:
          type: object
          required:
            - targetType
            - targetIdentifier
            - targetDisplay
          properties:
            targetType:
              type: string
              enum:
                - specific
            targetIdentifier:
              type: string
            targetDisplay:
              type: string
        integrationId:
          type: string
    OrganizationWorkflow_ActionFilter_Action_Discord:
      type: object
      required:
        - type
        - data
        - config
        - integrationId
      properties:
        type:
          type: string
          enum:
            - discord
        data:
          type: object
          properties:
            tags:
              type: string
[...]
