---
page_title: "Official Sentry Terraform Provider"
description: |-
  Set up Sentry Team, Projects, Alerts, and more. This provider is maintained with [Sentry.io](https://sentry.io)'s sponsorship. Please add any bug reports/feature requests in the GitHub repo.
---

# Official Sentry Terraform Provider

Set up Sentry Team, Projects, Alerts, and more. This provider is maintained with [Sentry.io](https://sentry.io)'s sponsorship. Please add any bug reports/feature requests in the [GitHub repo](https://github.com/jianyuan/terraform-provider-sentry/issues).

This provider utilizes the [Web APIs](https://docs.sentry.io/api/) to interact with Sentry resources.

## Setup

### Authentication

You will need to configure the provider by providing an authentication token. You can create an authentication token within Sentry by [creating an internal integration](https://docs.sentry.io/product/integrations/integration-platform/internal-integration/#auth-tokens). This is also available for self-hosted Sentry.

```terraform
provider "sentry" {
  token = "my-auth-token"
}
```

It's best practice not to store the authentication token in plain text. As an alternative, the provider can source the authentication token from the `SENTRY_AUTH_TOKEN` environment variable. If you choose to do this, you can omit the token variable from the configuration block above.

```terraform
provider "sentry" {}
```

### Self-hosted Sentry

If you are self-hosting Sentry, you can set the base URL here. The URL format must be in the format `https://[hostname]/api/`.

```terraform
# Configure the Sentry Provider
provider "sentry" {
  base_url = "https://example.com/api/"
}
```

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{.SchemaMarkdown}}

## Typical Usage

Below is a full example showcasing typical usage:

{{tffile "examples/kitchen-sink/demo.tf"}}
