---
page_title: "Official Sentry Terraform Provider"
description: |-
  The Terraform provider for Sentry allows teams to configure and update Sentry project parameters via their command line. This provider is built and maintained by a community developer and officially sponsored by Sentry.
---

# Official Sentry Terraform Provider

The Sentry Terraform provider is an open-source project built and maintained by a community developer and officially sponsored by [Sentry](https://sentry.io). 

The Sentry Terraform provider allows your team to configure and update Sentry project parameters including Projects, Alerts (Issues & Transactions), Dashboards, Teams, and Organizations - programmatically. This helps you easily provision Sentry while also giving you the option to work from an interface you are already familiar with. If you have questions, feature requests, or issues you'd like to report, please [contact Sentry](https://help.sentry.io/) or click on 'report an issue' to the right.

This provider utilizes the [Web APIs](https://docs.sentry.io/api/) to interact with Sentry resources.

**Organization**

- Manage [sentry_organization](resources/organization.md)
- Manage [sentry_team](resources/team.md)

**Project**

- Manage [sentry_project](resources/project.md)
- Manage client keys using [sentry_key](resources/key.md)

**Alerts and Dashboard**

- Manage [sentry_dashboard](resources/dashboard.md)
- Manage [sentry_issue_alert](resources/issue_alert.md)
- Manage [sentry_metric_alert](resources/metric_alert.md)

## Setup

### Authentication

You will need to configure the provider by providing an authentication token. You can create an authentication token within Sentry by [creating an internal integration](https://docs.sentry.io/product/integrations/integration-platform/internal-integration/#auth-tokens). This is also available for self-hosted Sentry.

```terraform
provider "sentry" {
  token = "my-auth-token"
}
```

It's best practice not to store the authentication token in plain text. As an alternative, the provider can source the authentication token from the `SENTRY_AUTH_TOKEN` environment variable. If you choose to do this, you can omit the token variable from the configuration block above.

```terraform
provider "sentry" {}
```

### Self-hosted Sentry

If you are self-hosting Sentry, you can set the base URL here. The URL format must be in the format `https://[hostname]/api/`.

```terraform
# Configure the Sentry Provider
provider "sentry" {
  base_url = "https://example.com/api/"
}
```

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{.SchemaMarkdown}}

## Typical Usage

Below is a full example showcasing typical usage:

{{tffile "examples/kitchen-sink/demo.tf"}}
