---
page_title: "Sentry Provider"
description: |-
  Terraform provider for Sentry.
---

# Sentry Provider

Terraform provider for [Sentry](https://sentry.io).

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{.SchemaMarkdown}}

## Typical Usage

Below is a full example showcasing typical usage:

{{tffile "examples/kitchen-sink/demo.tf"}}
