# This GitHub action runs your tests for each commit push and/or PR. Optionally
# you can turn it on using a cron schedule for regular testing.
#
name: Tests
on:
  pull_request:
    paths-ignore:
      - "README.md"
  push:
    paths-ignore:
      - "README.md"
  # We test at a regular interval to ensure we are alerted to something breaking due
  # to an API change, even if the code did not change.
  schedule:
    - cron: "0 0 * * *"
jobs:
  # ensure the code builds...
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: "1.18"

      - uses: actions/checkout@v3

      - name: Get dependencies
        run: |
          go mod download

      - name: Build
        run: |
          go build -v .

  # run acceptance tests in a matrix with Terraform core versions
  test:
    name: Matrix Test
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        # list whatever Terraform versions here you would like to support
        terraform:
          - "0.12.*"
          - "0.13.*"
          - "0.14.*"
          - "0.15.*"
          - "1.0.*"
          - "1.1.*"
          - "1.2.*"
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: "1.18"

      - uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false

      - uses: actions/checkout@v3

      - name: Get dependencies
        run: |
          go mod download

      - name: TF acceptance tests
        timeout-minutes: 10
        env:
          SENTRY_TEST_ORGANIZATION: ${{ secrets.SENTRY_TEST_ORGANIZATION }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        run: |
          make testacc
