name: update-sentrydata

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write
  pull-requests: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: true
      - uses: astral-sh/setup-uv@v7
      - uses: oven-sh/setup-bun@v2
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false
      - run: make generate
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          branch: update-sentry-data
          commit-message: Update Sentry data
          title: Update Sentry data
          body: |
            This PR updates Sentry data.
